html {/* font-size: x-small; */ /* Wikipedia font-size scaling method */}

body {font: 14px Tahoma, sans-serif;color: #000;padding: 0 20px;margin: 0 auto;background-color: #fff;max-width: 1240px;}



/* GLOBAL STYLES */

h1 {
font: bold 200% Arial, Helvetica, sans-serif;
margin: 0 0 .5em;
}

h2 {
font: bold 150% Arial, Helvetica, sans-serif;
margin: 0 0 .5em;
}

p { margin: 1em 0; }

a {
color: #11d;
text-decoration: underline;
}

a:hover { text-decoration: none; }

a.emphasis { color: #d20; }

a.rss {
color: #fff !important;
text-decoration: none !important;
vertical-align: middle;
padding: .1em .2em .1em 16px;
background: #e70 url(../images/rss.gif) 3px 50% no-repeat;
border: 1px solid #c50;
line-height: 1.8em;
}

a.rss.small {
font-size: smaller;
font-weight: normal;
}

a.rss:hover {
background-color: #f93;
background-image: url(../images/rss-hover.gif);
}

acronym {
font: inherit; /* Konqueror shows acronyms in a different font and letter-spacing by default */
letter-spacing: inherit;
border-bottom: 1px dotted #000;
}

img {
border-style: none;
}

form { margin: 0; }

input, select {font-size: 13px;color: #000;vertical-align: middle;background-color: #fff;margin: 0;}

.button {
background-color: #e3ebf9;
border: 1px solid #32528c;
}

.button:hover, .button:focus { background-color: #f2f7ff; }

textarea {
color: #000;
background-color: #fff;
}

th { text-align: left; }

.hide { display: none; }

.section { margin-bottom: 3em; }

.section .sh {
line-height: 1.8em;
margin: 0;
background-color: #eff3fb;
border-bottom: 1px dashed #32528c;
}

.subtitle { margin: .5em 0 2em; }

.small { font-size: x-small; }

.r { color: #d20; }

.g { color: #271; font-weight:bold; }

.b { color: #11d; font-weight:bold; }

.highlight { background-color: #ff9; }

.nfo {
font: small "Courier New", monospace;
color: #555;
line-height: 1em;
margin: 0;
}

.caps {
color: #d20;
font-weight: bold;
}

.warning {
padding: .5em;
margin: 2em 0;
background-color: #fca;
border: 1px solid #e95;
}

.warning img {
vertical-align: middle;
margin: 0 .5em;
}


/* SIDEBAR + CONTENT */

#sidebar {
display: inline; /* IE6 "double margin" bug fix */
float: right;
width: 135px;
margin: 0 0 2em 0;
}

/* #content { margin: 0 135px 2em 0; } */


/* HEADER */

#logo {
float: left;
margin: .2em 2em .5em 0;
}

#headerlinks {
text-align: right;
margin: 0 0 .1em 240px;
}

#header .clear { clear: both; }


/* SEARCH FORM + SEARCH SUGGESTIONS */

#searchform {float: left;margin: 30px .1em 0 .5em;}

#searchform input { border: 1px solid #000; }

#searchsuggestions {
display: none;
position: absolute;
z-index: 4;
line-height: 1.35em;
background-color: #fff;
border: 1px solid #000;
}

#searchsuggestions a {
display: block;
color: #000;
text-decoration: none;
white-space: nowrap;
overflow: hidden;
padding: 0 2px;
}

#searchsuggestions a.hovered {
color: #fff;
background-color: #4986d9;
}


/* NAVIGATION BAR */

#navigation {margin-bottom: 1em;background-color: #5f89ff;box-shadow: 2px 3px 6px -3px #76b83f;}

#navigation .clear { clear: left; } /* Added because of a weird Safari bug */

#navigation .c {
display: block;
background-color: #fff;
}

#navigation .c *  {display: block;height: 1px;overflow: hidden;background-color: #5f89ff;}

#navigation .c1, #navigation .c2, #navigation .c3 {
border-width: 0 1px;
border-style: solid;
}

#navigation .c1 {
padding: 0 1px;
margin: 0 1px;
background-color: #7288b0;
border-color: #d9dfe9;
}

#navigation .c2 {
padding: 0 1px;
background-color: #3e5c93;
border-color: #d9dfe9;
}

#navigation .c3 { border-color: #7288b0; }


#navigation ul {
list-style-type: none;
padding: 0 .2em;
margin: 0;
}

#navigation li {float: left;border-left: 1px solid #7ba5dd;padding: 5px 10px;}

#navigation a {
color: #fff;
text-decoration: none;
padding: 0 .4em;
}

#navigation a:hover {
color: #fff;
text-decoration: underline;
}

#navigation li.first { border-left: none; }

#navigation ul ul {
display: none;
position: absolute;
left: -1px;
z-index: 3;
padding: .2em 0;
background-color: #eff3fb;
border: 1px solid #8ba7cd;
border-top: 3px solid #32528c;
float: none;
}

#navigation ul ul li {
float: none;
border: none;
}

#navigation ul ul a {
color: #000;
line-height: 1.35em;
padding: 0 .4em;
background-image: none;
}

#navigation ul ul a:hover {
color: #fff;
text-decoration: none;
background-color: #4986d9;
}


#browsecats, #community {
position: relative;
margin: 0;
}

#browsecats a, #community a {
display: block;
background: url(../images/darrow-white.gif) right center no-repeat;
}

#browsecats a { width: 60px;; }

#community a { width: 7em; }

#browsecats:hover ul, #community:hover ul { display: block; }


/* ADVERTISEMENTS */

#adspot-a {
text-align: center;
margin-bottom: 1em;
}


#adspot-b .ad a {
display: block;
font-size: 85%;
color: #000;
text-decoration: none;
}

#adspot-b .adtitle {
display: block;
text-decoration: underline;
}

#adspot-b .adlink {
color: #11d;
}

#adspot-b { margin-bottom: .5em; }

#adspot-b .ad { margin-bottom: .5em; }


#adspot-c { margin-left: 15px; }


#adspot-d {
padding: .5em;
margin: 2em 0 1.5em;
border: 1px solid #000;
}

#adspot-d a.emphasis { float: right; }

#adspot-d .adHeadline {
color: #000;
color: #11d;
}

#adspot-d .adText {
color: #000;
text-decoration: none;
padding-left: .5em;
}


/* LOCATION BAR */

#location {
margin-bottom: 1em;
background-color: #bfcbe0;
}

#location .c {
display: block;
clear: left;
background-color: #fff;
}

#location .c * {
display: block;
height: 1px;
overflow: hidden;
background-color: #bfcbe0;
}

#location .c1, #location .c2, #location .c3 {
border-width: 0 1px;
border-style: solid;
}

#location .c1 {
padding: 0 1px;
margin: 0 1px;
background-color: #bfcbe0;
border-color: #f3f5f9;
}

#location .c2 {
padding: 0 1px;
background-color: #c3cee1;
border-color: #f3f5f9;
}

#location .c3 { border-color: #d3dbe9; }

#location p {
padding: 0 .5em;
margin: 0;
}

#location ul {
float: left;
width: 99%;
list-style-type: none;
padding: 0;
margin: 0;
}

#location li {
float: left;
padding: 0 .5em;
width: 45%;
}

#location a { color: #000; }


/* JUMP TO CATEGORY */

#jumptocat {
height: 1.35em; /* fix for IE7 */
position: relative;
}

#jumptocat p { margin: 0; }

#jumptocat ul {
position: absolute;
z-index: 2;
left: 11em;
top: 0;
width: 12em;
list-style-type: none;
padding: 0;
margin: 0;
border: 1px solid #32528c;
line-height: 1.35em;
}

#jumptocat a {
display: block;
width: 11em;
color: #000;
text-decoration: none;
padding: 0 .5em;
background: #eff3fb url(../images/darrow-black.gif) right center no-repeat;
}

#jumptocat a:hover { background-color: #f8fafd; }

#jumptocat ul ul {
position: static;
display: none;
border-width: 1px 0 0;
}

#jtclist a {
background: #fff none;
}

#jtclist a:hover {
color: #fff;
background-color: #4986d9;
}


/* TABS */

#tabs {
text-align: center;
list-style-type: none;
padding: .2em 0;
margin: 0 0 1em;
border-bottom: 1px solid #000;
}

#tabs li { display: inline; }

#tabs a {
color: #000;
text-decoration: none;
padding: .2em .4em;
background-color: #b7d0fd;
border: 1px solid #000;
}

#tabs a:hover { background-color: #d1dff9; }

#tabs .current a {
background-color: #fff !important; /* !important is IE fix */
border-bottom-color: #fff;
}

#tabs.left {
text-align: left;
padding: 1.7em 0 .2em 1em;
}


/* MAIN TABLE */

.maintable {font-size: inherit;line-height: 1.6em;/* border-bottom: 1px solid #aaa; */border-collapse: collapse;}

.maintable th, .maintable td {padding: 5px;}

.maintable th {color: #222;line-height: 1.8em;background-color: #d5dae0;border-bottom: 1px solid #a7a7a7;}

.maintable th a { color: #222; }

.maintable tr.d { background-color: #f0f1f2; }

.maintable tr:hover, .maintable tr.hovered {
background-color: #d0d7e2;
}

.maintable .n { font-weight: bold; }

.maintable td {/* border-left: 1px solid #aaa; *//* border-right: 1px solid #aaa; */}

.maintable td a {
color: #000;
text-decoration: none;
}

.maintable td a:hover { text-decoration: underline; }

.maintable img {
margin-top: .45em;
}

.maintable .dl {
float: left;
margin-right: .3em;
}

.maintable .ti {
float: right;
margin-left: .3em;
}

.maintable .ti.com {
margin-left: .6em;
}

.maintable small {
visibility: hidden;
font-size: 80%;
vertical-align: middle;
}

.maintable tr:hover small, .maintable tr.hovered small {
visibility: visible;
}

.maintable tr:nth-child(odd) {
    background: #eef1fa;
}

.maintable th:last-child, .maintable td:last-child {
    padding-right: 30px;
    padding-left: 40px;
}

.maintable th:first-child, .maintable td:first-child {
    padding-left: 30px;
}

/* CATEGORY HEADERS ON INDEX, TODAY AND YESTERDAY */

.catheader { padding: 2.5em 0 .5em; }

.catheader h2 {
display: inline;
vertical-align: -10%;
}

.catheader h2 a {
color: #000;
text-decoration: none;
}

.catheader h2 a:hover { text-decoration: underline; }


/* INFO TABLE */

.infotable {
font-size: inherit;
line-height: 1.6em;
border-top: 1px solid #aaa;
border-bottom: 1px solid #aaa;
border-collapse: collapse;
}

.infotable th {
color: #222;
line-height: 1.8em;
background-color: #d5dae0;
border: 1px solid #222;
}

.infotable th a { color: #222; }

.infotable tr.d { background-color: #f0f1f2; }

.infotable td {
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
}

.infotable a {
color: #000;
}


/* PAGINATION */

#pagination {
text-align: center;
margin: 2em 0;
}

#pagination ul {
display: inline;
list-style-type: none;
line-height: 2em;
padding: 0;
margin: 0 0 0 .5em;
}

#pagination li { display: inline; margin: 0 0 0 5px; }

#pagination a {
color: #000;
text-decoration: none;
padding: .1em .3em;
border: 1px solid #000;
}

#pagination a:hover {
color: #11d;
border-color: #11d;
}

#pagination li.current span { /* a span is used to avoid problems in IE*/
color: #fff;
padding: .1em .3em;
background-color: #32528c;
border: 1px solid #32528c;
}

#pagination li.disabled span {
color: #888;
padding: .1em .3em;
border: 1px solid #888;
}


/* FOOTER */

#footer {
clear: both;
padding-top: 1em;
margin-top: 2em;
border-top: 1px solid #000;
}

#footer .left {
float: left;
width: 49%;
text-align: right;
border-right: 1px solid #000;
}

#footer .left p { margin: 1em 1em 1em 0; }

#footer .right {
float: left;
width: 49%;
}

#footer .right p { margin: 1em 0 1em 1em; }

#footer img { vertical-align: middle; }

#footer .clear { clear:left; }


/* IE 6 FIXES */

* html #location, * html .maintable { width: 99.5%; }

.new-label {
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    margin-left: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}